
.mainOrb,
.symbol-button {
  user-select: none;
  -webkit-user-select: none;

  -webkit-touch-callout: none;

  -webkit-tap-highlight-color: transparent;

  touch-action: manipulation;

  user-drag: none;
  -webkit-user-drag: none;
}

button,
.mainOrb,
.symbol-button,
svg,
img {
  -webkit-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;

  -webkit-user-drag: none;
}

